<div class="social-icons">
    <a href="https://www.youtube.com/@ogdmaster215/about">
        <img alt="YouTube" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/youtube.svg">
    </a>
    <a href="https://twitter.com/franRov13">
        <img alt="Twitter" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/twitter.svg">
    </a>
    <a href="https://www.linkedin.com/in/francisco-a-rovira-landron-9b5136226/">
        <img alt="LinkedIn" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg">
    </a>
    <a href="https://www.instagram.com/fran_rov1/">
        <img alt="Instagram" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/instagram.svg">
    </a>
</div>